<h1>Apparel</h1>
<button><%= link_to 'Home', landing_path %></button>
<button><%= link_to 'Fishing Gear', gear_path %></button>
<button><%= link_to 'Bait', bait_path %></button>


<h2>MEN'S</h2>

  <h3>Team Rocket T-shirt</h3>
   <p>$29.99 Poké Dollars</p>
   <button>Buy Now</button>

  <h3> Team Rocket Fishing vest</h3>
   <p>$68.99 Poké Dollars</p>
   <button>Buy Now</button>

  <h3>Team Rocket Sunglasses</h3>
  <p>$160.99 Poké Dollars</p>
  <button>Buy Now</button>


<h2>WOMEN'S</h2>

  <h3>Team Rocket Fishing Tank Top</h3>
   <p>$29.99 Poké Dollars</p>
   <button>Buy Now</button>

  <h3> Team Rocket Leggings</h3>
  <p>$99.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Team Rocket Sunglasses</h3>
   <p>$160.99 Poké Dollars</p>
   <button>Buy Now</button>


<h2>CHILDRENS<h2>

  <h3>Team Rocket T-shirt</h3>
   <p>$24.99 Poké Dollars</p>
   <button>Buy Now</button>

 <h3> Team Rocket Fishing Onesie</h3>
  <p>$42.99 Poké Dollars</p>
  <button>Buy Now</button>

 <h3>Team Rocket Waterproof Blanket</h3>
  <p>$12.99 Poké Dollars</p>
  <button>Buy Now</button>