<h1>Bait</h1>
<button><%= link_to 'Home', landing_path %></button>
<button><%= link_to 'Fishing Gear', gear_path %></button>
<button><%= link_to 'Apparel', apparel_path %></button>


<h2>Magickarp bait</h2>
  <h3>Butterfree</h3>
  <p>$3.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Beedrill </h3>
  <p>$6.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Tumblestone</h3>
  <p>$1.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Bail of Mud</h3>
  <p>$2.99 Poké Dollars</p>
  <button>Buy Now</button>

<h2>Goldeen bait</h2>
  <h3>Hearty grains</h3>
  <p>$4.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Plump Beans</h3>
  <p>$3.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Parasect</h3>
  <p>$9.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Bail of Mud</h3>
  <p>$3.99 Poké Dollars</p>
  <button>Buy Now</button>

<h2>Qwilfish bait</h2>
  <h3>Hearty grains</h3>
  <p>$4.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Beautifly</h3>
  <p>$12.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Tumblestone</h3>
  <p>$1.99 Poké Dollars</p>
  <button>Buy Now</button>

  <h3>Combee</h3>
  <p>$8.99 Poké Dollars</p>
  <button>Buy Now</button>
