<h1>Fishing Gear</h1>
<button><%= link_to 'Home', landing_path %></button>
<button><%= link_to 'Bait', bait_path %></li>
<button><%= link_to 'Apparel', apparel_path %></button>


<h2>Fishing rods</h2>

  <h3>Speed fish 5000</h3>
   <p>$399 Poké Dollars</p>
<button>Buy Now</button>

  <h3>Poké Rod</h3>
   <p>$599 Poké Dollars</p>
   <button>Buy Now</button>

  <h3>Professor Oak's Poké Catcher v2</h3>
   <p>$199 Poké Dollars</p>
   <button>Buy Now</button>

  <h2>Lures<h2>

    <h3>magickarp swimmer</h3>
     <p>$24.99 Poké Dollars</p>
     <button>Buy Now</button>

    <h3> Meowth Head shiner</h3>
     <p>$16.99 Poké Dollars</p>
     <button>Buy Now</button>

    <h3>Rubber weevils</h3>
     <p>$13.99 Poké Dollars</p>
     <button>Buy Now</button>