<h1>Welcome to Team Rocket Bait and Tackle</h1>
<h2>Blasting off to reel in the best catches!</h2>
<button><%= link_to 'Fishing Gear', gear_path %></button>
<button><%= link_to 'Bait', bait_path %></button>
<button><%= link_to 'Apparel', apparel_path %></button>

<h2>Team Rocket's Bait and Tackle Shop is your premier destination for all things fishing! With decades of experience in the business, we provide top-quality bait, tackle, and expert advice to ensure your fishing trips are a success.</h2>






<h3> The one stop shop for all of your Team Rocket brand Pokémon fishing needs</h3>

<h3>We have everything from</h3>
  <ul>
    <li>Magickarp Bait</li>
    <li>Poké Rod</li>
    <li>Meowth Head shiners</li>
    <li>Rubber Weevils</li>
    <li>Team Rocket Sunglasses</li>
  </ul>